@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');
@import "./utils/variables";

*{
    box-sizing: border-box;
}
body{
    font-family: "roboto" , sans-serif;
    max-width: 1100px;
    margin: auto;
    & .loader{
        display: flex;
        position: fixed;
        background-color: lighten($color-tertiary,15%);
        inset: 0;
        z-index: 1;
        opacity: 0.5;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        animation: disappear 3s 3s forwards;
       & .charge{
           position: relative;
           width: 40px;
           height: 40px;
           border-radius: 50px;
           border: 6px solid transparent;
           border-top-color:$color-secendry ;
           border-bottom-color:$color-secendry ;
           animation: spiner 3s infinite ease-in-out;
           &::after{
            content: "";
            position: absolute;
            inset: 4px;
            border-radius: 50px;
            opacity: 0.6;
            border: 5px solid transparent;
            border-top-color:$color-primary ;
            border-bottom-color:$color-primary ;
            animation: spiner-reverce 2s infinite ease-in-out;
           }
       }
        
        
    }
    
}
a{
    text-decoration: none;
    color: black;
}
p{
    color: $color-p;
}
