
@import "../utils/animations";
.menus{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0 20px;
    @media (max-width:733px) {
        flex-direction: column;
    }
    
    & .menus-details{
        width: 335px;
        & h3{
            width: auto;
            position: relative;
            color: $color-p;
            font-weight: normal;
            padding-bottom: 10px;
            &::after{
                content:"";
                background-color: $color-tertiary;
                width:40px;
                height: 4px;
                bottom: 0;
                left: 0;
                position: absolute;
            }
            
        }
        & .menus-items{
            @for $i from 1 through 3 {
                &:nth-child(#{$i}){
                    animation-delay: 100ms * $i;
                }
            }
            display: flex;
            justify-content: space-between;
            height: 65px;
            background-color: white;
            border-radius: 15px;
            overflow: hidden;
            margin-bottom: 15px;
            @include box-shadow($color-shadow);
            animation: displays 3s both;
            
            
            & .menus-animation{
                display: flex;
                justify-content: space-between;
                margin: 10px;
                width: 100%;
                margin-right: 20px;
                
                & .flex-prix{
                   
                    & h4{
                    font-size: 16px;
                    margin:5px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    
                }
                    & p{
                        margin:-3px -3px 0 2px;
                        font-size: 14px;
                        color:darken($color-p, 20%) ;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        width: 95%;
                    }
                    
                }
                
            }
            & .prix{
                    display: flex;
                    align-items: flex-end;
                    font-weight: 900;
                    color: darken($color-p, 25%);
            }
            &:hover{
                cursor: pointer;
                .menus-items_check{
                    margin-right: 0;
                     i{
                    animation: tourner 1s ease-in-out;
                }
                }
                .flex-prix{
                    margin-right: -40px;
                    & p {
                        width: 80%;
                    }
                    h4{
                        width: 90%;
                    }
                }
                
                
            }
            & .menus-items_check{
                width: 70px;
                background-color: $color-tertiary;
                border-radius: 0 15px 15px 0;
                margin-right: -71px;
                text-align: center;
                padding-top: 22px;
                transition: margin-right 0.5s ease-in-out;
                color: white;
                font-size: 19px;
            }





        }
     }
}