
@import "../utils/animations";
.menus{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0 20px;
    
    & .menus-details{
       min-width: 30%;
        & h3{
            width: auto;
            position: relative;
            color: $color-p;
            font-weight: normal;
            padding-bottom: 10px;
            &::after{
                content:"";
                background-color: $color-tertiary;
                width:40px;
                height: 4px;
                bottom: 0;
                left: 0;
                position: absolute;
            }
            
        }
        & .menus-items{
            display: flex;
            justify-content: space-between;
            height: 65px;
            background-color: white;
            border-radius: 15px;
            overflow: hidden;
            margin-bottom: 15px;
            @include box-shadow($color-shadow);
            transform: translateY(0);
            
            & .menus-animation{
                display: flex;
                justify-content: space-between;
                margin: 10px;
                width: 100%;
                margin-right: 20px;
                
                & .flex-prix{
                    width: 70%; 
                    text-overflow: ellipsis;
                    margin: 0;
                    & h4{
                    font-size: 16px;
                    margin:5px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    
                }
                    & p{
                        margin:-3px -3px 0 2px;
                        font-size: 14px;
                        color:darken($color-p, 20%) ;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                    
                }
                
            }
            & .prix{
                    display: flex;
                    align-items: flex-end;
                    font-weight: 900;
                    color: darken($color-p, 25%);
                    margin-left: -85px;
            }
            &:hover{
                cursor: pointer;
                .menus-items_check{
                    margin-right:0;
                     i{
                    animation: tourner 1s ease-in-out;
                    }
                }
            }
            
            & .menus-items_check{
                width: 70px;
                background-color: $color-tertiary;
                border-radius: 0 15px 15px 0;
                margin-right: -71px;
                text-align: center;
                padding-top: 22px;
                transition: margin-right 0.5s ease-in-out;
                color: white;
                font-size: 19px;
            }
        }

        @for $i from 1 through 10 {
            .delay-#{$i} { 
              animation: displays 6s both;
              animation-delay:200ms*$i;
            }
        }
     }
}