@import "../utils/mixin";
@import "../utils/variables";

.position{
    height: 330px;
    text-align: center;
    background-color: $color-back;

    & p{
        width: 80%;
        margin: 15px auto;
        margin-bottom: 20px;
    }
    & h2{
        width: 65%;
        margin: auto;
        margin-top: 25px;
    
    }
    & button{
        width:30%;
        height: 45px;
        margin:25px auto;
        color:white;
        background-image:linear-gradient($color-secendry ,$color-primary );
        border-radius: 25px;
        border: none;
        @include box-shadow($color-shadow);
        font-size: 15px;
        &:hover{
           @include animation;
        }
        @media (max-width:640px) {
            width: 55%;
        }
        
    }

}