
.menus{
    padding: 0 20px;
    & h3{
        color: $color-p;
        font-weight: normal;
    }
    & .menus-items{
        height: 65px;
        background-color: white;
        border-radius: 15px;
        padding: 10px;
        margin-bottom: 20px;
        & h4{
            font-size: 18px;
            font-weight: 550;
            margin:5px;
        }
        & .flex-prix{
            display: flex;
            justify-content: space-between;
            & p{
                margin:-3px 4px;
                font-size: 15px;
                color: darken($color-p, 20%);
            }
            & .prix{
                font-weight: 900;
            }
        }
    }
}