@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
  max-width: 1100px;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

p {
  color: #8b8585;
}

header {
  position: relative;
  text-align: center;
  margin-top: 15px;
  padding-bottom: 10px;
  box-shadow: 0 3px 1px #cbc9c9;
}

.logo {
  width: 40%;
}

.position {
  height: 330px;
  text-align: center;
  background-color: #f3f3f3;
}
.position p {
  width: 80%;
  margin: 15px auto;
  margin-bottom: 20px;
}
.position h2 {
  width: 65%;
  margin: auto;
  margin-top: 25px;
}
.position button {
  width: 30%;
  height: 45px;
  margin: 25px auto;
  color: white;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  border: none;
  box-shadow: 1px 0 3px 0 #c1bdbd;
  font-size: 15px;
}
.position button:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
@media (max-width: 640px) {
  .position button {
    width: 55%;
  }
}

.city {
  display: flex;
  justify-content: center;
  background-color: #ede7e7;
}
.city p {
  width: auto;
  font-weight: 600;
  color: #3d3a3a;
  margin: 15px 0;
}
.city .icons {
  align-items: center;
  margin-top: 15px;
  margin-right: 20px;
  font-size: 15px;
}

.fonction {
  counter-reset: liste;
  margin-left: 20px;
  margin-bottom: 70px;
}
.fonction ol {
  display: flex;
  gap: 20px;
  padding: 0 20px;
}
@media (max-width: 880px) {
  .fonction ol {
    flex-wrap: wrap;
  }
}
.fonction ol li {
  background-color: #f6f6f6;
  padding: 20px;
  border-radius: 20px;
  font-weight: 500;
  width: 90%;
  text-align: left;
  list-style-type: none;
  position: relative;
  box-shadow: 1px 0 3px 0 #c1bdbd;
}
.fonction ol li:hover {
  background-color: #f2eafb;
}
.fonction ol li:hover i {
  color: #9356DC;
}
.fonction ol li::before {
  content: "" counter(liste);
  counter-increment: liste;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 5px 8px;
  font-size: x-small;
  position: absolute;
  left: -12px;
  bottom: 18px;
}
.fonction ol li i {
  margin-right: 25px;
  margin-left: 5px;
  color: #8d8d8d;
}

.restaurent {
  background-color: #f3f3f3;
  padding: 40px 0;
}
.restaurent h2 {
  padding-left: 20px;
}
.restaurent .menu_cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 600px) {
  .restaurent .menu_cards {
    flex-direction: column;
  }
}
.restaurent .menu_cards .new {
  position: relative;
}
.restaurent .menu_cards .new::before {
  content: "Nouveau";
  width: 90px;
  height: 25px;
  background-color: #99E2D0;
  color: #278870;
  position: absolute;
  text-align: center;
  padding-top: 5px;
  top: 15px;
  right: 15px;
  font-weight: 500;
}
.restaurent .menu_cards .card {
  width: 40%;
  height: 240px;
  background-color: white;
  border-radius: 15px;
}
@media (max-width: 600px) {
  .restaurent .menu_cards .card {
    width: 90%;
  }
}
.restaurent .menu_cards .card img {
  width: 100%;
  height: 70%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.restaurent .menu_cards .card h3 {
  margin: 10px 15px;
  margin-bottom: 0;
  height: 20px;
}
.restaurent .menu_cards .card p {
  margin-left: 15px;
  margin-top: 5px;
  color: #4a4646;
}
.restaurent .menu_cards .card .card-explication {
  display: flex;
  justify-content: space-between;
  height: 35px;
  position: relative;
}
.restaurent .menu_cards .card .card-explication i {
  margin-right: 25px;
  margin-top: 8px;
  font-size: 30px;
}
.restaurent .menu_cards .card .card-explication .far {
  display: inline;
  position: absolute;
  right: 0;
}
.restaurent .menu_cards .card .card-explication .fas {
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0;
  transition: all 300ms ease-in;
}
.restaurent .menu_cards .card .card-explication:hover .fas {
  opacity: 1;
}
.restaurent .menu_cards .card .card-explication:hover .far {
  opacity: 0;
}

footer {
  color: white;
  background-color: #3d3939;
  padding: 25px;
}
footer h3 {
  font-family: "Shrikhand", sans-serif;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 500;
}
footer .foot-flex {
  display: flex;
  align-items: center;
  height: 25px;
}
footer .foot-flex i {
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: small;
}
footer p {
  color: white;
  margin: 0;
  margin-bottom: 10px;
}
footer a {
  color: white;
}

main {
  background-color: #f3f3f3;
}

.resto_img img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center top;
}

.main {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: #f3f3f3;
  border-radius: 25px 25px 0 0;
  margin-top: -30px;
  padding-top: 15px;
}
.main h2 {
  font-family: "Shrikhand", sans-serif;
  margin-left: 20px;
}
.main i {
  margin-right: 25px;
  margin-top: 20px;
  font-size: 25px;
}
.main .far {
  display: inline;
  position: absolute;
  right: 0;
}
.main .fas {
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0;
  transition: all 300ms ease-in;
}
.main:hover .fas {
  opacity: 1;
}
.main:hover .far {
  opacity: 0;
}

.menus {
  padding: 0 20px;
}
.menus h3 {
  color: #8b8585;
  font-weight: normal;
}
.menus .menus-items {
  height: 65px;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
}
.menus .menus-items h4 {
  font-size: 18px;
  font-weight: 550;
  margin: 5px;
}
.menus .menus-items .flex-prix {
  display: flex;
  justify-content: space-between;
}
.menus .menus-items .flex-prix p {
  margin: -3px 4px;
  font-size: 15px;
  color: #575353;
}
.menus .menus-items .flex-prix .prix {
  font-weight: 900;
}

/*# sourceMappingURL=style.css.map */
