@import "../utils/mixin" ;
main{
    background-color: $color-back;
}

.resto_img{
    img{
        display: block;
        width: 100%;
        object-fit: cover;
        object-position: center top;
}
}
.main{
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: $color-back;
    border-radius: 25px 25px 0 0;
    margin-top: -30px;
    padding-top: 15px;
    & h2{
        font-family: "Shrikhand", sans-serif;
        margin-left: 20px;
    }
    & i{
         margin-right: 25px;
         margin-top: 20px;
         font-size: 25px;
    }
         
    & .far{
            display: inline;
            position: absolute;
            right: 0;
        }  
    & .fas{
            @include heart;
            }
    &:hover .fas{
            opacity: 1;
             }   
    &:hover .far{
                opacity: 0;
                }
    }

    
